
body {
    background-size:cover;
    height: 100vh;
}
#roger {
    border-style: double;
    border-radius: 20px;
    
}


.container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
}

#attributes {
    border: 0.2rem solid black;
    margin: auto;
    color: white;
    height: auto;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: absolute; 
    align-items: center; 
}

#clock {
    margin: auto;
    color: white;
    height: auto;
    width: 20rem;
    border: 0.2rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: absolute; 
    align-items: center;
}

#name {
    color: black;
    margin: auto;
    height: auto;
    width: 20rem;
    border: 0.1rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: absolute; 
    align-items: center;
}

.buttons {
    text-align: center;
}

#stats {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.button-controls {
    color: green;
}

.lights-on {
    background-image: url('https://assets.playtech.com/application/files/8615/0729/7142/American_dad_bg1.png?version=1568021800')
}

.lights-off {
    background-color: black;
}