.container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
       
      }

#attributes {
    margin: auto;
    height: auto;
    width: 20rem;
    border: 0.2rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: absolute; 
    align-items: center;
    
}

#clock {
    margin: auto;
    height: auto;
    width: 20rem;
    border: 0.2rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: absolute; 
    align-items: center;
}



